@using System.Globalization
@model IEnumerable<GestaoEscolar.Models.Conceito>
@{
    ViewBag.Title = "FichaIndividual";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<div class="row text-center">
    <p>Prévisualização da Ficha Individual</p>

    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <a href="@Url.Action("FichaIndividualPDF", "Relatorio", new { id = ViewBag.Id })" class="btn btn-block btn-lg btn-default"><span class="fa fa-file-pdf-o text-danger"></span><span>&nbsp;</span>Imprimir Ficha</a>
    </div>
    <div class="col-md-4">

    </div>
</div>


<div class="col-md-12 panel-scroll">
    @Html.Partial("_PartialFichaIndividual")
</div>




