@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<div class="panel panel-heading">
    <strong><span class="glyphicon glyphicon-cog"></span><span>&nbsp;</span>Relatórios</strong>
</div>

<div class="panel-body">
    <div class="row">
        <div class="col-sm-4">
            @using (@Html.BeginForm("Index", "Aluno", FormMethod.Post))
            {
                <div class="input-group">
                    <input type="text" class="form-control" name="termoBusca" id="termoBusca" placeholder="Buscar por...">

                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><span class="fa fa-search"></span></button>
                    </span>
                </div>
            }
        </div>
        <div class="col-sm-8 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Relatório
                </div>
                <div class="panel-body panel-scroll">
                    <table class="table table-hover">
                        <tr>
                            <td>
                                <strong>Relatório Aluno<i class="fa fa-file-text fa-2x fa-fw text-danger" aria-hidden="true"></i></strong>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Relatório Aluno<i class="fa fa-file-text fa-2x fa-fw text-danger" aria-hidden="true"></i></strong>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Relatório Aluno<i class="fa fa-file-text fa-2x fa-fw text-danger" aria-hidden="true"></i></strong>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>