@model GestaoEscolar.Models.Escola

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<script>
    $(function () {
        document.getElementById("NomeEscola").disabled = true;
        document.getElementById("Cnpj").disabled = true;
        document.getElementById("NomeGestor").disabled = true;
        document.getElementById("CargoGestor").disabled = true;
        document.getElementById("CidadeEscola").disabled = true;
        document.getElementById("UfEscola").disabled = true;
        document.getElementById("CepEscola").disabled = true;
        document.getElementById("EndEscola").disabled = true;
        document.getElementById("NumeroEndEscola").disabled = true;
        document.getElementById("ComplementoEndEscola").disabled = true;
        document.getElementById("BairroEndEscola").disabled = true;
        document.getElementById("DistritoEscola").disabled = true;
        document.getElementById("TelefoneEscola").disabled = true;
        document.getElementById("FaxEscola").disabled = true;
        document.getElementById("EmailEscola").disabled = true;
    });
</script>

<div class="panel panel-heading font-form">
    <strong><span class="fa fa-cog"></span><span>&nbsp;</span>Escola</strong>
</div>

@Html.Partial("_PartialFormEscola");

<div class="panel panel-footer">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-6">
            <a class="btn btn-block btn-lg btn-default" href="@Url.Action("Index")"><span class="fa fa-reply"></span><span>&nbsp;</span>Voltar</a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-block btn-lg btn-primary" href="@Url.Action("Editar", new { id = Model.Id })"><span class="fa fa-edit"></span><span>&nbsp;</span>Editar</a>
        </div>
    </div>
</div>

