@model GestaoEscolar.Models.TipoFuncionario

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<div class="panel panel-heading">
    <strong><span class="glyphicon glyphicon-cog"></span><span>&nbsp;</span>Tipo Funcionario</strong>
</div>

<div class="panel-body panel-scroll">
    <h2>Detalhes</h2>
    <div class="form-group">
        <label>Cargo</label><br />
        @Html.TextBoxFor(model => model.DescricaoFuncionario, new { @class = "form-control", @disabled = "true" })
    </div>
</div>

<div class="panel panel-footer">
    <div class="row">
        <div class="col-xs-5">
        </div>
        <div class="col-xs-3 col-xs-offset-1">
            <a class="btn btn-block btn-lg btn-default" href="@Url.Action("Index")"><span class="fa fa-reply"></span><span>&nbsp;</span>Voltar</a>
        </div>
        <div class="col-xs-3">
            <a class="btn btn-block btn-lg btn-primary" href="@Url.Action("Editar", new { id = Model.Id })"><span class="fa fa-edit"></span><span>&nbsp;</span>Editar</a>
        </div>
    </div>
</div>
