
<div class="panel panel-heading">
    <div class="row">
        <div class="col-sm-2">
            <strong><span class="fa fa-plus-circle"></span><span>&nbsp;</span>@ViewBag.Title</strong>
        </div>
        @Html.Partial("_MenuForm")
        <div class="col-sm-3">
            <h5><strong>Atenção!</strong> O campo com <i class="fa fa-asterisk text-danger"></i>é obrigatório</h5>
        </div>
    </div>
</div>
