@{
    ViewBag.Title = "Erro";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<div class="panel panel-heading">
    <h5><strong><span class="glyphicon glyphicon-plus-sign"></span><span>&nbsp;</span>Erro</strong></h5>
</div>
<div class="panel-body">
    <hgroup>
        <h1>Erro.</h1>
        <h2>Um erro ocorreu ao tentar realizar uma ação.</h2>
    </hgroup>
    <a class="btn btn-primary btn-danger confirm" title="Voltar" href="@ViewBag.Voltar">
        <span class="fa fa-2x fa-arrow-circle-left">Retornar</span>
    </a>
</div>