@{
    ViewBag.Title = "LogOn";
}

<h2>LogOn</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.TextBox("login")
    <br />
    @Html.Password("senha")
    <br />
    <input type="submit" value="Entrar" />
    
}