@model PagedList.IPagedList<GestaoEscolar.Models.Aluno>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_LayoutLista.cshtml";

}

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>
            <a href="@Url.Action("Adicionar", "Aluno")" class="btn btn-block btn-lg btn-success"><span class="fa fa-plus"></span><span>&nbsp;</span>Novo Aluno</a>
        </p>
        <div class="panel panel-success">

            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Alunos Cadastrados</h5>
                    </div>
                    <div class="col-md-8">
                        @using (Ajax.BeginForm("Index", "Aluno", new AjaxOptions {HttpMethod = "Post",InsertionMode = InsertionMode.Replace, UpdateTargetId = "DivListaAlunos" }))
                        {
                            <div class="input-group">
                                <input type="text" class="form-control" name="termoBusca" id="termoBusca" placeholder="Buscar por...">

                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">Buscar <span class="fa fa-search"></span></button>
                                </span>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @Html.Partial("_ListaAlunos",Model)            
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.confirm.js"></script>
<script>
    $(".confirm").confirm({
        text: "Tem certeza que deseja excluir?",
        confirmButton: "Sim",
        cancelButton: "Não"
    });
</script>
